# join

In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.ones((2,4)),index=["A","B"],columns=list("abcd"))
df1

     a    b    c    d
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0

In [2]:
df2 = pd.DataFrame(np.zeros((3,3)),index=["A","B","C"],columns=list("xyz"))
df2

     x    y    z
A  0.0  0.0  0.0
B  0.0  0.0  0.0
C  0.0  0.0  0.0

In [3]:
df1.join(df2)

     a    b    c    d    x    y    z
A  1.0  1.0  1.0  1.0  0.0  0.0  0.0
B  1.0  1.0  1.0  1.0  0.0  0.0  0.0

In [4]:
df2.join(df1)

     x    y    z    a    b    c    d
A  0.0  0.0  0.0  1.0  1.0  1.0  1.0
B  0.0  0.0  0.0  1.0  1.0  1.0  1.0
C  0.0  0.0  0.0  NaN  NaN  NaN  NaN

# 数据合并之merge

In [6]:
df3 = pd.DataFrame(np.zeros((3,3)),columns=list("fax"))
df3

     f    a    x
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0

In [8]:
df1.merge(df3,on="a")#默认情况下取交集

Empty DataFrame
Columns: [a, b, c, d, f, x]
Index: []

In [10]:
df3.loc[1,"a"] = 1
df3

     f    a    x
0  0.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  0.0

In [11]:
df1.merge(df3,on="a")

     a    b    c    d    f    x
0  1.0  1.0  1.0  1.0  0.0  0.0
1  1.0  1.0  1.0  1.0  0.0  0.0

In [12]:
df3 = pd.DataFrame(np.arange(9).reshape((3,3)),columns=list("fax"))
df3

   f  a  x
0  0  1  2
1  3  4  5
2  6  7  8

In [19]:
df1

       a    b    c    d      B
A  100.0  1.0  1.0  1.0  100.0
B    1.0  1.0  1.0  1.0    NaN

In [20]:
df1.merge(df3,on="a")

     a    b    c    d   B  f  x
0  1.0  1.0  1.0  1.0 NaN  0  2

In [24]:
df1.merge(df3,on="a",how="inner")#内连接

     a    b    c    d   B  f  x
0  1.0  1.0  1.0  1.0 NaN  0  2

In [21]:
df1.merge(df3,on="a",how="outer")#外链接

       a    b    c    d      B    f    x
0  100.0  1.0  1.0  1.0  100.0  NaN  NaN
1    1.0  1.0  1.0  1.0    NaN  0.0  2.0
2    4.0  NaN  NaN  NaN    NaN  3.0  5.0
3    7.0  NaN  NaN  NaN    NaN  6.0  8.0

In [22]:
df1.merge(df3,on="a",how="left")  #左链接

       a    b    c    d      B    f    x
0  100.0  1.0  1.0  1.0  100.0  NaN  NaN
1    1.0  1.0  1.0  1.0    NaN  0.0  2.0

In [23]:
df1.merge(df3,on="a",how="right")  #右链接

     a    b    c    d   B  f  x
0  1.0  1.0  1.0  1.0 NaN  0  2
1  4.0  NaN  NaN  NaN NaN  3  5
2  7.0  NaN  NaN  NaN NaN  6  8

- jion默认是按列索引进行操作
- merge默认是按行索引jin x