# 生成一段时间范围
- pd.date_range(start=None,end=None,periods=None,freq='D')
- start和end以及freq配合能够生成start和end范围内以频率freq的一组时间索引
- start和periods以及freq配合能够生成从start开始的频率为freq的periods时间索引

In [1]:
import pandas as pd
pd.date_range(start="20171230",end="20180131",freq="D")

DatetimeIndex(['2017-12-30', '2017-12-31', '2018-01-01', '2018-01-02',
               '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12', '2018-01-13', '2018-01-14',
               '2018-01-15', '2018-01-16', '2018-01-17', '2018-01-18',
               '2018-01-19', '2018-01-20', '2018-01-21', '2018-01-22',
               '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26',
               '2018-01-27', '2018-01-28', '2018-01-29', '2018-01-30',
               '2018-01-31'],
              dtype='datetime64[ns]', freq='D')

In [2]:
pd.date_range(start="20171230",end="20180131",freq="10D")

DatetimeIndex(['2017-12-30', '2018-01-09', '2018-01-19', '2018-01-29'], dtype='datetime64[ns]', freq='10D')

In [3]:
pd.date_range(start="20171230",periods=10,freq="D")

DatetimeIndex(['2017-12-30', '2017-12-31', '2018-01-01', '2018-01-02',
               '2018-01-03', '2018-01-04', '2018-01-05', '2018-01-06',
               '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [4]:
pd.date_range(start="20171230",periods=10,freq="M")

DatetimeIndex(['2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31',
               '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31',
               '2018-08-31', '2018-09-30'],
              dtype='datetime64[ns]', freq='M')

# 在DataFrame中使用时间序列
- index=pd.date_range("20170101",periods=10)
- df = pd.DataFrame(np.randon.rand(10),index=index)

# pandas重采样
- 重采样：指的是将时间序列从一个频率转化为另一个频率进行处理的过程，将高频率数据转化为低频率数据为降采样，低频率转化为高频率为升采样
- pandas提供了一个resample的方法来帮助我们实现频率转化

In [6]:
import numpy as np
t = pd.DataFrame(np.random.uniform(10,50,(100,1)),index=pd.date_range("20170101",periods=100))
t

                    0
2017-01-01  43.719368
2017-01-02  48.980646
2017-01-03  49.494225
2017-01-04  30.218198
2017-01-05  32.750232
2017-01-06  24.562524
2017-01-07  25.817617
2017-01-08  47.441563
2017-01-09  27.716691
2017-01-10  11.142875
2017-01-11  32.424915
2017-01-12  30.953165
2017-01-13  18.758562
2017-01-14  30.405305
2017-01-15  39.741304
2017-01-16  26.564156
2017-01-17  32.536063
2017-01-18  44.144702
2017-01-19  39.876417
2017-01-20  44.374306
2017-01-21  27.947415
2017-01-22  42.575619
2017-01-23  32.240645
2017-01-24  12.374699
2017-01-25  36.765418
2017-01-26  11.395210
2017-01-27  46.324684
2017-01-28  31.701257
2017-01-29  11.939546
2017-01-30  27.089993
...               ...
2017-03-12  40.122593
2017-03-13  23.172625
2017-03-14  17.305839
2017-03-15  46.304437
2017-03-16  17.282434
2017-03-17  39.594912
2017-03-18  49.813369
2017-03-19  37.043476
2017-03-20  34.232568
2017-03-21  17.530524
2017-03-22  35.722525
2017-03-23  37.045658
2017-03-24  31.080239
2017-03-25  41.208370
2017-03-26  37.178648
2017-03-27  46.101561
2017-03-28  10.811603
2017-03-29  19.291621
2017-03-30  34.756921
2017-03-31  13.810737
2017-04-01  34.914078
2017-04-02  37.185345
2017-04-03  20.281914
2017-04-04  36.792603
2017-04-05  18.094230
2017-04-06  11.401765
2017-04-07  15.051029
2017-04-08  19.107524
2017-04-09  33.208207
2017-04-10  41.873647

[100 rows x 1 columns]

In [7]:
t.resample("M").mean()

                    0
2017-01-31  32.252327
2017-02-28  28.877529
2017-03-31  30.696804
2017-04-30  26.791034